# Python related code
*.py @Aeternalis-Ingenium @JosefLeinweber

# Java Script related code
*.js @kirill967
*.jsx @kirill967
*.rc @kirill967
*.tsx @kirill967
*.ts @kirill967
*.cjs @kirill967

# HTML & CSS related code
*.html @kirill967
*.css @kirill967
*.scss @kirill967

# JSON related code
*.json @Aeternalis-Ingenium

# DevOps related code
*.yml @Aeternalis-Ingenium @NewerKey
*.yaml @Aeternalis-Ingenium @NewerKey
*.tf @Aeternalis-Ingenium @NewerKey
Dockerfile @Aeternalis-Ingenium @NewerKey
Dockerfile.* @Aeternalis-Ingenium @NewerKey
