# Python related code
*.py @Aeternalis-Ingenium @JosefLeinweber

# Java Script related code
*.js @kirill967 @j9magayanes @Aeternalis-Ingenium
*.jsx @kirill967 @j9magayanes
*.rc @kirill967 @j9magayanes
*.tsx @kirill967 @j9magayanes
*.ts @kirill967 @j9magayanes
*.cjs @kirill967 @j9magayanes

# HTML & CSS related code
*.html @kirill967 @j9magayanes
*.css @kirill967 @j9magayanes
*.scss @kirill967 @j9magayanes

# JSON related code
*.json @Aeternalis-Ingenium

# DevOps related code
*.yml @Aeternalis-Ingenium @NewerKey
*.yaml @Aeternalis-Ingenium @NewerKey
*.tf @Aeternalis-Ingenium @NewerKey
Dockerfile @Aeternalis-Ingenium @NewerKey
Dockerfile.* @Aeternalis-Ingenium @NewerKey
