ENVIRONMENT=
DEBUG=
BACKEND_SERVER_HOST=
BACKEND_SERVER_PORT=
BACKEND_SERVER_WORKERS=
IS_ALLOWED_CREDENTIALS=
STATIC_FILE_DIRECTORY=
ALLOWED_ORIGIN_1a=
ALLOWED_ORIGIN_1b=
ALLOWED_ORIGIN_1c=
ALLOWED_ORIGIN_1d=
ALLOWED_ORIGIN_2a=
ALLOWED_ORIGIN_2b=
ALLOWED_ORIGIN_2c=
ALLOWED_ORIGIN_2d=
ALLOWED_METHOD_1=
ALLOWED_HEADER_1=

# Database - Postgres
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_SCHEMA=
POSTGRES_USERNAME=
API_HEADER_SECRET_KEY=
API_COOKIE_SECRET_KEY=
API_QUERY_SECRET_KEY=

# This is the host for Docker Postgres Image in docker-compose.yaml
POSTGRES_HOST=
POSTGRES_URI={POSTGRES_SCHEMA}://{POSTGRES_USERNAME}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DB}

# Database - SQLAlchemy
DB_TIMEOUT=
DB_POOL_SIZE=
DB_MAX_POOL_CON=
DB_POOL_OVERFLOW=
IS_DB_ECHO_LOG=
IS_DB_EXPIRE_ON_COMMIT=
IS_DB_FORCE_ROLLBACK=

# JWT Token
JWT_SECRET_KEY=
JWT_SUBJECT=
JWT_TOKEN_PREFIX=
JWT_ALGORITHM=
JWT_MIN=
JWT_HOUR=
JWT_DAY=

# Hash Functions
HASHING_ALGORITHM_LAYER_1=
HASHING_ALGORITHM_LAYER_2=
HASHING_SALT=

# Codecov (Login to Codecov and get your TOKEN)
CODECOV_TOKEN=

# AWS S3
AWS_S3_BUCKET=
AWS_S3_POKEMON_IMAGE_DIR=
AWS_S3_SKLEARN_MODEL_DIR=
AWS_S3_TF_MODEL_DIR=
AWS_S3_BUCKET_ARN=
AWS_S3_POKEMON_IMAGE_URI=
AWS_S3_SKLEARN_MODEL_URI=
AWS_S3_TF_MODEL_URI=
AWS_IAM_USERNAME=
AWS_IAM_ARN=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_SERVICE_NAME=
AWS_SERVICE_REGION=

TF_MODEL_FILE_EXTENSION=
SKLEARN_MODEL_FILE_EXTENSION=
PYTORCH_MODEL_FILE_EXTENSION=
